<!-- ================= PAGE TITLE ================= -->
<section class="py-5 text-center">
  <div class="container">
    <h2 class="fw-bold">Artisan Details</h2>
  </div>
</section>

<!-- ================= Artisan INFO ================= -->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center g-4">
      <div class="col-md-6">
        <img
          src="{{artisan.image}}"
          class="img-fluid rounded shadow"
          alt="{{artisan.name}}"
        />
      </div>
      <div class="col-md-6">
        <h3>{{artisan.name}}</h3>
        <p>
          Specialty: {{artisan.specialty}}
        </p>
        
      </div>
    </div>
  </div>
</section>


<!-- ================= ARTISANS' PRODUCTS ================= -->
<section class="py-5">
  <div class="container">
    <h3 class="text-center mb-4">Artisan Products</h3>

    {{#if products.length}}
      <div class="row g-4">
        {{#each products}}
          <div class="col-md-4">
            <div class="card h-100 shadow-sm">
              <div class="card-body text-center">
                <img
                  src="{{this.image}}"
                  alt="{{this.name}}"
                  class="img-fluid mb-3"
                />
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <p class="fw-bold">$ {{this.price}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="text-center">No products available for this artisan.</p>
    {{/if}}
  </div>
</section>