<div class="container mt-5">
  <h1>{{location.name}}</h1>

  <img
    src="{{location.image}}"
    alt="{{location.name}}"
    class="img-fluid mb-4"
  />

  <p>{{location.description}}</p>
  <p><strong>Region:</strong> {{location.region}}</p>
</div>

{{!-- Add the artisan cards through AJAX --}}
